---
import OpiumList from "./OpiumList.astro";

// src/components/OpiumFilter.astro
const { activeFilter } = Astro.props; // You can pass the active filter from the page

---
<nav class="opium-filter container">
  <a href="/opium/unisex" class:list={{ active: activeFilter === 'unisex' }}>[ UNISEX ]</a>
  <a href="/opium/mens" class:list={{ active: activeFilter === 'mens' }}>[ MENS ]</a>
  <a href="/opium/womens" class:list={{ active: activeFilter === 'womens' }}>[ WOMENS ]</a>
</nav>
<OpiumList filter={activeFilter} />
<h1>All Opiums</h1>
<style>
  .opium-filter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 4rem;
  }
  .opium-filter a {
    font-family: var(--font-mono);
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--text-muted);
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  .opium-filter a:hover {
    color: var(--color-white);
    background-color: var(--border-color);
  }
  .opium-filter a.active {
    color: var(--accent-primary);
    border-color: var(--accent-primary);
    box-shadow: 0 0 10px var(--accent-primary);
  }
  h1{
    text-align: center;
    font-family: var(--font-mono);;
  }
</style>